.logotipo{

width: 70px;
height: 70px;

}



#videodescricao{



width: 800;
height: 600;

padding: 100px;

}

.col-5{

 text-align: justify;

}


#sapatos{

padding: 50px;



}


.titulo-section{

	font-size: 32pt;
	font-weight: bold;
}



#institucional{
	text-align: center;
}

#mapa{

	width: 100px;
	height: 100px;

}
	

#formulario{

	padding: 100px;
}